database/
.Trash*
meteor/build/
meteor/client/lib/Color.js
meteor/collections/lib/classes/Assignment.js
meteor/collections/lib/classes/Group.js
meteor/collections/lib/classes/User.js
meteor/collections/lib/classes/UserNotification.js
meteor/lib/classes/ServerMethodsWrapper.js
meteor/lib/routes.js
meteor/server/EmailSettingsManager.js
meteor/server/methods.js
meteor/server/publish.js
meteor/server/startup.js
meteor/server/testMethods.js
meteor/tests/mocha/client/lib/EventFactory.js
meteor/tests/mocha/client/lib/TemplateTester.js
meteor/tests/mocha/client/templateDecoratorsTest.js
meteor/tests/mocha/client/templates/login/loginTemplateTest.js
meteor/tests/mocha/server/templateDecoratorsTest.js
meteor/client/lib/subscribe.js
meteor/collections/lib/Groups.js
meteor/tests/mocha/client/*.js
meteor/client/lib/clientStartup.js
meteor/client/lib/plugins/responsive-toolkit/responsive-toolkit.js
meteor/client/lib/subscription-cache.js
meteor/client/react/components/DateDisplay.jsx
meteor/collections/lib/A_SmtpServer.js
meteor/collections/lib/Errors.js
meteor/collections/lib/NotificationCollection.js
meteor/collections/lib/SettingsCollection.js
meteor/collections/lib/Users.js
meteor/collections/lib/ValidationFunctions/PhoneValidator.js
meteor/collections/lib/ValidationFunctions/requiredFor.js
meteor/collections/lib/Z_Assignments.js
meteor/collections/lib/classes/EnumUtil.js
meteor/collections/lib/collectionConfig/CollectionConf.js
meteor/lib/templateDecorators.js
meteor/private/Scripts/ErdingerMigrationsScript.js
meteor/tests/mocha/server/AssignmentUnitTest.js
meteor/tests/mocha/server/GroupUnitTest.js
meteor/tests/mocha/server/MethodsUnitTest.js
meteor/tests/mocha/server/dummyData.js
meteor/client/react/components/progressBarSmall/progressBarSmall.jsx
meteor/client/templates/assignments/showOverview/AssignmentPanelBody.jsx
meteor/subscribe.js
meteor/client/templates/assignments/showOverview/AssignmentPanelHeading.jsx
meteor/lib/classes/AssignmentDisplayStateReader.js
meteor/lib/classes/AssignmentStateReader.js
meteor/tests/mocha/server/classes/AssignmentStateReaderTest.js
meteor/client/react/lib/Icon.jsx
meteor/client/react/lib/MeteorComponent.js
meteor/client/templates/assignments/showOverview/AssignmentPanel.jsx
meteor/client/templates/assignments/showOverview/subComponents/AssignmentPanelBody.jsx
meteor/client/templates/assignments/showOverview/subComponents/AssignmentPanelFooter.jsx
meteor/client/templates/assignments/showOverview/subComponents/AssignmentPanelHeading.jsx
meteor/tests/mocha/server/classes/AssignmentDisplayStateReaderTest.js
meteor/client/templates/assignments/showOverview/subComponents/AssignmentAdminButton.jsx
.vagrant/
meteor/node_modules/
meteor/client/react/components/SmallProgressbar/SmallProgressbar.jsx
meteor/imports/mocha/client/ServerMethodsWrapperUnitTest.app-test.js
meteor/imports/mocha/client/UsersTest.app-test.js
meteor/imports/mocha/client/lib/EventFactory.test.js
meteor/imports/mocha/client/lib/TemplateTester.test.js
meteor/imports/mocha/client/templateDecoratorsTest.test.js
meteor/imports/mocha/client/templates/login/loginTemplateTest.test.js
meteor/imports/mocha/server/AssignmentUnitTest.test.js
meteor/imports/mocha/server/GroupUnitTest.test.js
meteor/imports/mocha/server/MethodsUnitTest.test.js
meteor/imports/mocha/server/classes/AssignmentDisplayStateReaderTest.test.js
meteor/imports/mocha/server/classes/AssignmentStateReaderTest.test.js
meteor/imports/mocha/server/dummyData.test.js
meteor/imports/mocha/server/templateDecoratorsTest.test.js
meteor/typedefs/react-bootstrap/react-bootstrap-tests.jsx
*.js
*.gz
*.ppk
userdocs/site/
src/node_modules/
