<template name="dashboard">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{greeting}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">


        {{! Panel für Gruppenbewerbungen}}
        {{#each pendingApplicationsForGroupCoordinator}}
            {{> dashboardPanel}}
        {{/each}}

        {{#each ownPendingApplicationsForGroupPanels}}
            {{> dashboardPanel}}
        {{/each}}

        {{! Panel für neue Termine, auf die sich ein Verkündiger bewerben kann.}}
        {{#each trolleyAssignmentPanels}}
            {{> dashboardPanel}}
        {{/each}}

        {{#if isInRole 'admin'}}
          {{#with adminUserPanel}}
          {{! Panel für Benutzerzahl}}
              {{> dashboardPanel}}
          {{/with}}
        {{/if}}


    </div>
</template>

<template name="dashboardPanel">
    <div class="col-lg-4 col-md-6">
        <div class="panel {{panelClass}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa {{fontAwesomeIcon}} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            {{#if underscore "isEmpty" hugeContent}} {{! Falls der Inhalt noch leer ist, dann soll eine Ladeanzeige erscheinen. }}
                                <i class="fa fa-spinner fa-pulse"></i>
                            {{else}}
                                {{hugeContent}}
                            {{/if}}
                        </div>
                        <div>{{smallContent}}</div>
                    </div>
                </div>
            </div>
            {{#if showLink}}
            <a href="{{#unless underscore "isNull" link}} {{! Falls ein Link gesetzt ist, dann soll der Link als href verwendet werden. }}
                {{link}}
            {{/unless}}">
                <div class="panel-footer">
                    <span class="pull-left">{{footerDescription}}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
                {{else}}
                <div class="panel-footer">
                    <span class="pull-left">{{footerDescription}}</span>
                    <div class="clearfix"></div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
