<template name="MainLayout">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-custom-brand auto-scroll" href="{{pathFor 'home'}}" title="Version {{version.commit}} #{{version.build}}">PublicAssistant</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                {{> notificationsDropdown}}

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" id="dropdown-user-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{pathFor 'modifyProfile'}}"><i class="fa fa-user fa-fw"></i> Meine Daten</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{pathFor 'logout'}}"><i class="fa fa-sign-out fa-fw"></i> Abmelden</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            {{> sidebar}}

        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            {{> Template.dynamic template=main}}
        </div>
        <!-- /#page-wrapper -->

    </div>

{{#if showBackdrop}}
  <div class="modal-backdrop"></div>
{{/if}}
</template>

