<template name="resetPassword">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wähle neues Passwort</h3>
                </div>
                <div class="panel-body">
                    {{> bootstrapAlerts}}
                    <form accept-charset="UTF-8" role="form" class="reset">
                        <fieldset>
                            <div class="form-group">
                                <input id="password" class="form-control" placeholder="Neues Passwort" name="password"
                                    type="password" value="">
                            </div>
                            <input id="reset" class="btn btn-lg btn-success btn-block" type="submit" value="Zurücksetzen">
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>
