<template name="infoSite">
    <div class="col-lg-12">
        <h1 class="page-header">Info für den Gruppenkoordinator</h1>
    </div>
    <div class="modal-body">
        <p>Lieber Bruder, die Nutzung unseres PublicAssistant für das öffentliche Zeugnisgeben ist freiwillig und kostenfrei!</p>
        <p>Wir verbessern laufend unsere Software für einen ausfallsicheren Betrieb auf unseren Servern. Es fallen für teilnehmende
            Versammlungen keine Kosten an und wird ausschließlich von uns privat finanziert. Bei Problemen stehen wir an
            Deiner Seite und können einen zeitnahen Support bieten. </p>
        <p> Dazu schreibst Du einfach eine E-Mail an uns Entwickler und Administratoren über folgende Adresse:
            <br>
            <a href="mailto:info@cps-schroeter.de"><i class="fa fa-envelope fa-fw"></i>Dominik und Robert Schröter, Versammlung Erding-Ost Deutschland.</a>
        </p>
        <div class="alert alert-info">
            <p> <strong>Bitte denke daran: </strong></p>
            <p>Die E-Mail Adresse eines Teilnehmers ist bei der Anmeldung obligatorisch. </p>
            <p> <strong>Es soll sich kein Teilnehmer mit mehreren E-Mail Adressen
                im PublicAssistant registrieren!</strong> </p>
            <P> Wenn sich bei einem Teilnehmer die <strong>E-Mail Adresse geändert</strong> hat, sollte diese baldmöglichst umgestellt
                werden, da es sonst zu diesen Problemen kommen kann:
                <ul>
                    <li>
                        Es ist kein Zurücksetzen des Passwortes möglich, wenn diese Adresse nicht mehr existiert!
                    </li>
                    <li>Die E-Mail zum Zurücksetzen des Passwortes würde an die alte E-Mail Adresse gesendet werden!
                    </li>
                    <li>
                        Ein Teilnemer mit zwei identischen Namen, kann bei Terminbestätigungen nicht mehr eindeutig identifiziert werden!
                    </li>
                </ul>
                Um diese Probleme zu vermeiden, schreibe uns bitte über den oben stehenden Link eine E-Mail und <strong>teile uns die Gruppe, 
                    Teilnehmername mit alter- und neuer E-Mail Adresse mit.</strong></P>
            <p> Wir ändern das für Dich umgehend.
            </p>
        </div>
        <p> Wir hoffen, dass sich mit dieser Software das öffentliche Zeugnisgeben nach Ordnung (1Ko 14:40) planen lässt und
            so noch viele Menschen erreicht werden können um Jehova kennen zu lernen. </p>
        <p> Vielen Dank für die gute Zusammenarbeit!</p>
        <p> Deine Brüder.
        </p>
    </div>
</template>